puzzle-core/src/main/resources/META-INF/schema/puzzle-3.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>  
<xsd:schema   
    xmlns="http://puzzle.anyway.io/schema/puzzle"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"   
    xmlns:beans="http://www.springframework.org/schema/beans"  
    targetNamespace="http://puzzle.anyway.io/schema/puzzle"
    elementFormDefault="qualified"   
    attributeFormDefault="unqualified">  
    <xsd:import namespace="http://www.springframework.org/schema/beans" />  
    <xsd:element name="reference">  
        <xsd:complexType>  
            <xsd:complexContent>  
                <xsd:extension base="beans:identifiedType">  
                    <xsd:attribute name="name" type="xsd:string" />  
                    <xsd:attribute name="interface" type="xsd:string" />  
                </xsd:extension>  
            </xsd:complexContent>  
        </xsd:complexType>  
    </xsd:element>  
</xsd:schema>  